{% extends "base.html" %} {% load bootstrap5 %}
{% block content %}
<section class="vh-100 gradient-custom-2">
    <div class="container py-5 h-100">
     <div class="row d-flex justify-content-center align-items-center h-100">
       <div class="col-md-12 col-xl-8">
         <div class="card task-card">
          <div class="card-body p-4 text-white">
            <div class="text-center pt-3 pb-2">
              <h2 class="text-center my-4">delete post</h2>
                <div class="container">
                <div class="card p-2">
                   <form method="post">
                {% csrf_token %}
                <p>Are you sure you want to delete {{ task.title }}?</p>
                <button type="submit">Yes, Delete post</button>
                </form>
            </div>
            <a class="btn btn-danger p-3 m-3 text-center" href="{% url "delete" post.id %}">delete Post</a> 
            <a class="btn btn-primary p-3 m-3 text-center" href="{% url "list" %}">Back to post list</a> 
          </div>
        </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
{% endblock content %}
