{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NewsApp | post Item</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <section>
    <h1>Post Detail</h1>
    <div class="detail">
    <h2>
        {{ post.title }}
    </h2>
    <p>
        {{ post.content }}
    </p>
    <p>Author: 
        {{ post.author }}
    </p>

    <p>
      <a href="{% url "update" post.id %}">Update post</a>
    </p>
    <p>
      <a href="{% url "delete" post.id %}">Delete post</a>
    </p>
    <p>
      <a href="{% url "list"  %}">Back to Home</a>
    </p>

    </div>
    </section>
  </body>
</html>
