{% extends "base.html" %}

{% block content %}

  <section class="vh-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-12 col-xl-10">
          <div class="card mask-custom">
            <div class="card-body p-4 text-white">
              <div class="text-center pt-3 pb-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
                alt="Check" width="60">
                  <h2 class="my-4">Task List</h2>
              </div>
              <table class="table text-white mb-0">
              <thead>
                <tr>
                  <th scope="col">S. Number</th>
                  <th scope="col">Title</th>
                  <th scope="col">Created at</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                {% for post in posts %}
                <tr class="fw-normal">
                  <th class='col-2'>
                    <span class="ms-2">{{forloop.counter}}</span>
                  </th>
                  <td>
                    <a href="{% url "detail" post.id %}" class='border-0 align-middle text-decoration-none col-5'>{{ post.title }}</a>
                  </td>
                  <td class="align-middle col-3">{{ post.created_at}}
                  </td>
                  <td class="align-middlecol-2">
                    <span class="badge bg-success fs-6">{{ post.status }}</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="paginator">
                <span class="step-links">
                  {% if posts.has_previous %}
                    <a href="?page=1">&laquo; First</a>
                    <a href="?page={{ posts.previous_page_number }}">Previous</a>
                  {% endif %}
                
                <span class="current">
                  Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                </span>


                  {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">Next</a>
                    <a href="?page={{ posts.paginator.num_pages }}">Last &raquo;</a>
                  {% endif %} 
                  
                </span>
              </div>
            <a class="btn btn-primary p-3 m-3 text-center" href="{% url "create" %}">Create New Post</a> 
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>

{% endblock content %}

