@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}
section {
  width: 80%;
  margin: 80px auto;
  max-width: 1000px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  justify-content: center;
}
.detail h2 {
  font-size: 32px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: #333;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.detail p {
  margin-bottom: 30px;
  font-size: 18px;
  color: #666;
  line-height: 1.6;
}

.detail a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  background: blanchedalmond;
  padding: 10px 20px;
  margin-left: 30px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.detail a:hover {
  background: rgb(1, 1, 70);
  color: #fff;
  transition: all 0.2s linear;
}